#menu {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #5a525a;
    border-radius: 10px;
}
#menu p {
   text-align: center;
   padding: 10px;
   color: antiquewhite;
}
#fundoExe {
    width: 1400px;
    height: 50px;
    padding: 20px;
    margin-right: 25vh;
    margin-left: 25vh;
    display: flex;
    background-color: #c7c0c7;
    gap: 30px;
}
body {
    background-color: rgb(58, 53, 58);
}
button {
    text-align: center;
    margin: 5px;
    text-decoration: none;
    background-color: #C7C0C7;
    border: none;
}
.animacao {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    text-align: center;
    background-color: #C7C0C7;
}
.animacao:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: #FFF8DC;
    transition: .8s;
    width: 150px;
    background-color: #FFF8DC;
}